*{
    margin: 0;
}
.wrap{
    display: flex;
    flex-direction: column;
    height: 3000px;
    width: 100%;
    margin: 0;
    background-color: silver;
}

.header{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    margin: 0;
}
.nav-menu{
    height: 100px;
    width: 100%;
    margin: 0;
    background-color: silver;
}
.logo{
    height: 50px;
    width: 200px;
    margin: 25px auto auto 80px;
    background-color: rgb(4, 4, 59);
    border-radius: 5px;
    position: absolute;
}
.search{
    position: absolute;
    width: 37px;
    height: 10px;
    margin: 40px 0px auto auto;
    right: 140px;
}
.burger-menu{
    width: 37px;
    height: 6px;
    position: relative;
    margin: 35px 80px auto auto;
}
.burger-menu > div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.nav-info{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-color: rgb(4, 4, 59);
}
.info{
    display: flex;
    height: 150px;
    width: 400px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: lightgoldenrodyellow;
    border-radius: 10px;
    font-family: URW Chancery L, cursive;
}
.space{
    height: 50px;
    width: 200px;;
    background-color: rgb(156, 88, 156);
    position: absolute;
    margin: 230px auto auto auto;
    border-radius: 10px;
}
.big-container{
    display: flex;
    justify-content: space-between;
    margin: 310px auto auto auto;
    position: absolute;
    height: 200px;
    width: 700px;
}
.big-container > div{
    height: 200px;
    width: 200px;
    background-color: rgb(156, 88, 156);
    border-radius: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    width: 100%;
}
.main > h1{
    margin: 200px auto auto auto;
    font-family: URW Chancery L, cursive;
}
.content{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.first-line{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100%;
}
.first-line > div{
    height: 200px;
    width: 200px;
    background-color: rgb(156, 88, 156);
    border-radius: 10px;
}
.sub{
    position: absolute;
    height: 10px;
    bottom: -250px;
}

.second-line{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100%;
}
.second-line > div{
    height: 200px;
    width: 200px;
    background-color: rgb(156, 88, 156);
    border-radius: 10px;
}
.sub2{
    position: absolute;
    height: 10px;
    bottom: -550px;
}
h3{
    font-family: URW Chancery L, cursive;
}
.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    width: 100%;
}
.main2 > h1{
    margin: 50px auto auto auto;
    font-family: URW Chancery L, cursive;
}
.content2{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.one-line{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100%;
}
.one-line > div{
    height: 200px;
    width: 450px;
    background-color: rgb(156, 88, 156);
    border-radius: 10px;
}
.two-line{
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 100%;
}
.two-line > div{
    height: 200px;
    width: 450px;
    background-color: rgb(156, 88, 156);
    border-radius: 10px;
}

.main3{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 100%;
    background-color: silver;
}
.main3 > h1{
    margin: 50px auto 0px auto;
    font-family: URW Chancery L, cursive;
}

.content3{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 65%;
    margin: 0px auto auto auto;
}
.content3 > div{
    height: 200px;
    width: 300px;
    background-color: rgb(156, 88, 156);
    border-radius: 10px;
}

.content4{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 65%;
    margin: 0px auto auto auto;
}
.circle{
    height: 200px;
    width: 200px;
    background-color: rgb(156, 88, 156);
    border-radius: 50%;
}
.text{
    align-items: center;
    height: 200px;
    width: 75%
}
.text > h3 {
    font-size: 15px;
}
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-color: rgb(4, 4, 59);
}
.contact{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 210px;
    margin: 20px auto auto auto;
}
.contact > div{
    height: 50px;
    width:60px;
    background-color: rgb(156, 88, 156);
    border-radius: 5px;
}
.contact1{
    align-items: center;
    height: 50px;
    width: 400px;
    margin: 20px auto auto auto;
}
.contact1 > h3{
    font-size: 10px;
}