*{
    background-color: #dbbf9d;
    text-align: center;
}
h1{
    background: red;
    color: black;
}
p{
    background: darkgrey;
    color: black;
}

.parent
{
	border: 1px solid black;
	height: 600px;
}
.child
{   
    margin: 20px;
    border: 1px solid black;
	height: 350px;
	float: left;
	background: red;
	width: 30%;
}
#back{
    border: 2px solid black;
    border-radius: 10%;
    width: 50px;
    background-color: cadetblue;
    color: cadetblue;
}