*{
    margin: 0;
}
.wrap{
    height: fit-content;
    width: 100%;
    background-color:red;
}
.header{
    height: 100px;
    width: 100%;
    background-color: rosybrown;
    border: 2px solid black;
    border-radius: 2px;
    box-sizing: border-box;
}
.main{
    display: flex;
    height: 400px;
    width: 100%;
    margin: 0;
}
.menu{
    height: 400px;
    width: 40%;
    margin: 0;
    border: 2px solid black;
    background-color: blueviolet;
    box-sizing: border-box;
}
.container{
    
    height: 400px;
    width: 60%;
    margin: 0;
}
.post-1{
    height: 200px;
    width: 100%;
    margin: 0;
    background-color: chocolate;
    border: 2px solid black;
    border-radius: 2px;
    box-sizing: border-box;
}
.post-2{
    height: 200px;
    width: 100%;
    margin: 0;
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 2px;
    box-sizing: border-box;
}
.footer{
    height: 200px;
    width: 100%;
    margin: 0;
    background-color: darkgoldenrod;
    border: 2px solid black;
    border-radius: 2px;
    box-sizing: border-box;
}