*{
    margin: 0;
}

.wrap{
    display: flex;
    flex-direction: column;
    height: 1700px;
    width: 100%;
    margin: 0;
}

.header{
    display: flex;
    height: 110px;
    width: auto;
    margin:5px 5px 0px 5px;
}
.logo{
    height: 100px;
    width: 17%;
    background-color: #dbeef4;
    margin:5px 5px 5px 0px;
}
.logo > img{
    height: 100%;
    width: 100%;
}
.prime-nav{
    height: 100px;
    width: 90%;
    background-color: #dbeef4;
    margin:5px 0px 5px 5px;
}
.profile{
    height: 200px;
    width: auto;
    margin: 5px 5px 5px 5px;;
    background-color: #dbeef4;
}
.alert{
    height: 300px;
    width: auto;
    margin: 5px 5px 5px 5px;;
    background-color: #b5dde5f4;
}


.main{
    display: flex;
    height: 800px;
    width: auto;
    margin: 5px 5px 5px 5px;
    background-color: blanchedalmond;
}

.left{
    height: 800px;
    width: 50%;
    margin: 0;
}
.container1{
    display: flex;
    height: 25%;
    width: 100%;
    margin: 0;
}
.left-container1{
    height: 95%;
    width: 50%;
    margin: 0px 5px 5px 5px;
    background-color: #dbeef4;;
}
.right-container1{
    height: 95%;
    width: 50%;
    margin: 0px 5px 5px 5px;
    background-color: #dbeef4;;
}
.container2{
    display: flex;
    height: 25%;
    width: 100%;
    margin: 0;

}
.left-container2{
    height: 95%;
    width: 50%;
    margin: 0px 5px 5px 5px;
    background-color: #dbeef4;;
}
.right-container2{
    height: 95%;
    width: 50%;
    margin: 0px 5px 5px 5px;
    background-color: #dbeef4;;
}
.container3{
    display: flex;
    height: 25%;
    width: 100%;
    margin: 0;
}
.left-container3{
    height: 95%;
    width: 50%;
    margin: 0px 5px 5px 5px;
    background-color: #dbeef4;;
}
.right-container3{
    height: 95%;
    width: 50%;
    margin: 0px 5px 5px 5px;
    background-color: #dbeef4;;
}
.container4{
    display: flex;
    height: 25%;
    width: 100%;
    margin: 0;
}
.left-container4{
    height: 95%;
    width: 50%;
    margin: 0px 5px 5px 5px;
    background-color: #dbeef4;;
}
.right-container4{
    height: 95%;
    width: 50%;
    margin: 0px 5px 5px 5px;
    background-color: #dbeef4;;
}



.right{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 50%;
    margin: 0;
}
.large{
    height: 49%;
    width: 98%;
    margin: 0px 5px 10px 5px;
    background-color: #dbeef4;;
}
.container5{
    display: flex;
    height: 25%;
    width: 100%;
    margin: 0;
}
.left-container5{
    height: 95%;
    width: 50%;
    margin: 0px 5px 5px 5px;
    background-color: #dbeef4;;
}
.right-container5{
    height: 95%;
    width: 50%;
    margin: 0px 5px 5px 5px;
    background-color: #dbeef4;;
}

.container6{
    display: flex;
    height: 25%;
    width: 100%;
    margin: 0;
}
.left-container6{
    height: 95%;
    width: 50%;
    margin: 0px 5px 5px 5px;
    background-color: #dbeef4;;
}
.right-container6{
    height: 95%;
    width: 50%;
    margin: 0px 5px 5px 5px;
    background-color: #dbeef4;;
}
