* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.dark29 {
    color: #292929;
}
.orange {
    color: #ff9638;
}

.blue {
    color: #3298F2;
}

.d-flex {
    display: flex;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

.btn {
    padding: 0 35px;
    height: 61px;
}

.header {
    border-bottom: 1px solid #3298F2;
    background-color: #F9F9F9;
    margin-bottom: 30px;
}

.header_top {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav__wrap {
    column-gap: 103px;
}

.header_nav {
    align-items: center;
    column-gap: 15px;
}

.nav_item a {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

/*.header_button {*/
/*    width: 309px;*/
/*}*/

.header_button button {

    height: 61px;
    border: 2px solid #3298F2;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3298F2;
    background-color: #fff;
    padding: 0 10px;
}

.first-screen {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    display: flex;

}

/* .first-screen_left {
    max-width: 570px;
} */

.first-screen_left h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
}

.first-screen_left h1 {
    font-weight: 900;
    font-size: 23px;
    line-height: 37px;
    text-transform: uppercase;
    color: #333333;
    margin: 50px 0 60px;
}



.first-screen_left {
    width: 50%;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    column-gap: 20px;
}

.first-screen_left p:last-child {
    font-weight: bold;
    margin-top: 35px;
}

.first-screen_left__button {
    margin-top: 100px;
    background: #FF9638;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.first-screen_left__button::before {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: -100px;
    transform: skew( -30deg);
    filter: blur(15px);
    animation: blick 2s infinite linear;
}

@keyframes blick {
    from { left: -100px; }
    to { left: 125%; }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play {
    width: 156px;
    height: 156px;
    border: 1px solid #FF9638;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -90px;
    transform: translateX(-50%);
}

.play::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    transform: scale(0.5);
    opacity: .2;
    animation: pulse 1500ms linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: .2;
    }
    100% {
        transform: scale(1);
        opacity: .8;
    }
}

.play_one {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 1px solid #FF9638;
}

.play_two {
    border: 3px solid #FF9638;
    border-radius: 50%;
    background-color: #C4C4C4;
    width: 82px;
    height: 82px;
}

.play_two i {
    font-size: 25px;
    color: #ffffff;
}

.mobile_button {
    display: none;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.mobile_button span {
    width: 80%;
    height: 4px;
    background-color: #3298F2;
    position: relative;
    transition: background-color 300ms 100ms;
}

.mobile_button span::before, .mobile_button span::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #3298F2;
}

.mobile_button span::before {
    top: -10px;
}

.mobile_button span::after {
    bottom: -10px;
}

.mobile_button span::before {
    transition-property: top, transform;
}

 .mobile_button span::after {
    transition-property: bottom, transform;
} 

.mobile_button span::before, .mobile_button span::after  {
    transition-duration: 300ms, 300ms;
    transition-delay: 300ms, 0ms;
}

.active .mobile_button span {
    background-color: transparent;
}

.active .mobile_button span::before {
    top: 0;
    transform: rotate(-45deg);
}

.active .mobile_button span::after {
    bottom: 0;
    transform: rotate(45deg);
}

.active .mobile_button span::before, .active .mobile_button span::after  {
    transition-duration: 300ms, 300ms;
    transition-delay: 0ms, 300ms;
}


.first-screen_right{
    width: 50%;
}

.first-screen_right__title {
    font-weight: 900;
    font-size: 120px;
    line-height: 176px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #303030;
}

.first-screen_right__title span {
    display: block;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3298F2;
    color: transparent;
    font-size: 120px;
}

.first-screen_right__school {
    font-weight: 900;
    font-size: 50px;
    line-height: 83px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #303030;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


































