*{
    margin: 0;
}
.wrap{
    height: fit-content;
    width: 100%;
    margin: 0;
}
.widgets{
    height: 200px;
    width: 100%;
    margin: 0;
    background-color: darkgreen;
    box-sizing: border-box;
}
.main{
    display: flex;
    height: 300px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.first{
    height: 300px;
    width: 33.33333333333333%;
    margin: 0;
    border: 2px solid silver;
    border-radius: 2px;
    background-color: darkred;
    box-sizing: border-box;
}
.second{
    height: 300px;
    width: 33.33333333333333%;
    margin: 0;
    border: 2px solid silver;
    border-radius: 2px;
    background-color: darkslateblue;
    box-sizing: border-box;
}
.third{
    height: 300px;
    width: 33.33333333333333%;
    margin: 0;
    border: 2px solid silver;
    border-radius: 2px;
    background-color:gold;
    box-sizing: border-box;
}
.footer{
    height: 200px;
    width: 100%;
    margin: 0;
    background-color: indigo;
    box-sizing: border-box;
}